################################################
# Build Folders
################################################
bin/
obj/
out/

################################################
# Rider / VS / IDEs
################################################
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vscode/

################################################
# NuGet
################################################
*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

################################################
# Logs
################################################
*.log
*.tlog
TestResults/
*.coverage
*.coveragexml

################################################
# OS
################################################
.DS_Store
Thumbs.db

################################################
# Secrets / Local Config
################################################
appsettings.*.json
!appsettings.json
launchSettings.json

################################################
# Misc
################################################
*.dbmdl
*.bak
*.backup
*.swp
*.userprefs
